 <!DOCTYPE html>
 <html ng-app='client'> 
 <head>
 	<script type="text/javascript" src='{{ url_for("bower.static", filename="angular/angular.min.js") }}'></script>
 	<script type="text/javascript" src='{{ url_for("static", filename="js/controller.js") }}'></script>
 	<link rel='stylesheet' href='{{ url_for("bower.static", filename="bootstrap/dist/css/bootstrap.css") }}'>
 	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}'>
 	<title></title>
 </head>
 <body>
 	<div  ng-controller='controller'>
 		{% raw %}
 		<div class="col-md-8">
	 		<div class="col-md-6">
	 			<p>Choose calendar:</p>

		 		<div ng-click='setSelected(calendar.id)' class='calendar-list-item' ng-repeat='calendar in calendars'>
		 			<span ng-if='calendar.id == selectedCalendar' class='selected'>
			 			<p>{{ calendar.summary }}</p>
			 			<p>{{ calendar.description }}</p>		
		 			</span>
		 			<span ng-if='calendar.id != selectedCalendar'>
			 			<p>{{ calendar.summary }}</p>
			 			<p>{{ calendar.description }}</p>		
		 			</span>
		 		</div>
	 		</div> 
	 		<div class="col-md-6">
		 		<p>Choose room where to post:</p>
		 		<div>
			 		<div ng-click='setSelectedChannel(channel.id)' class='calendar-list-item' ng-repeat='channel in channels'>
			 			<span  ng-if='channel.id == selectedChannel' class='selected'>
				 			<p>{{ channel.name }}</p>
			 			</span>
			 			<span  ng-if='channel.id != selectedChannel'>
				 			<p>{{ channel.name }}</p>
						</span>
					</div>
		 		</div>
	 		</div>
	 		<div class="col-md-12">
	 			<button class='save-button btn col-md-2 col-md-offset-5' ng-click='update()'>Save</button>
	 		</div>
 		</div>
 		<div class="col-md-4">
 			<form name='newCongrat'>
 				<div class="form-group">
			 		<label for='congrat-text' class="control-label">Enter congratulation:</label>
			 		<textarea id='congrat-text' class="form-control" ng-model='congrat_text'></textarea>
				</div>
		 		<button class='save-congrat' ng-click='createCongratulation()'>Save</button>
		 	</form>
	 		<div>
	 			<p ng-repeat='c in congrats'>{{ c.text }}<button ng-click='dropCongratulation(c.id)'>Delete</button></p>
	 		</div>
 		</div>
 		{% endraw %}
 	</div>
 </body>
 </html>